body {
	background-image: url("../images/Fond.jpg");
	font-family: "Open Sans"
}

#footer {
	background-color: #a37f42;
	color: #ffffff;
	padding-top: 3em;
	padding-bottom: 3em;
}

#footer a {
	color: #ffffff;
}

#footer a:hover {
	color: #d1dc22;
}

.social {
	font-size: 20px;
}

#wrapper {
	background-image: url(../images/fond1.jpg);
	height: 600px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 3px 3px 8px black;
}

#wrapper h1 {
	font-size: 65px;
}

#wrapper h2 {
	font-size: 18px;
	margin-bottom: 1em;
}

.spacer {
	height: 4em;
}

.feature p {
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 20px;
	text-shadow: 1px 1px 3px white;
}

.feature img {
	padding-bottom: 1em;
}

.navbar-transparent {
  background-color: #a37f42;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: white;
  line-height: 30px;
  margin: 0px
  padding: 0px;
}


.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #d1dc22;
  background-color: rgba(163, 127, 66, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: #d1dc22;
}

#brand {
    float: left;
    display: table;
    vertical-align: top;
    position: relative;
    z-index: 0;
}