html {
  height: 100%;
  box-sizing: border-box;
}

body {
	background-image: url("../images/Fond.jpg");
	font-family: "Open Sans";
	position: relative;
  	margin: 0;
  	padding-bottom: 6rem;
  	min-height: 100%;
}

#footer {
	background-color: #a37f42;
	color: #ffffff;
	position: absolute;
	right: 0;
  	left: 0;
  	bottom: 0;
  	padding: 1rem;
}

#footer p {
	color: white;
}

#footer a {
	color: #ffffff;
}

#footer a:hover {
	color: #ead61c;
}

.social {
	font-size: 20px;
}

#wrapper {
	background-image: url(../images/Image00001.jpg);
	height: 600px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 3px 3px 8px black;
}

#wrapper-mescreations {
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 3px 3px 8px black;
}

#wrapper-mescreations {
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 3px 3px 8px black;
}

#wrapper h1 {
	font-size: 65px;
}

#wrapper h2 {
	font-size: 18px;
	margin-bottom: 1em;
}

h1 {
	font-size: 65px;
	color: white;
	text-shadow: 3px 3px 8px black

}

h2 {
	margin-bottom: 1em;
	color: white;
	text-shadow: 3px 3px 8px black
}

h3 {
	color: #A37F42;
	text-shadow: 1px 1px 1px black
}

.spacer {
	height: 4em;
}

.feature p {
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 20px;
	text-shadow: 1px 1px 3px white;
}

.feature img {
	padding-bottom: 1em;
}

.navbar-transparent {
  background-color: #a37f42;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: white;
  line-height: 30px;
  margin: 0px;
}


.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #ead61c;
  background-color: rgba(163, 127, 66, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: #ead61c;
}

#brand {
    float: left;
    display: table;
    vertical-align: top;
    position: relative;
    z-index: 0;
}

.carousel-style {
	height: 650px
}

.carousel-inner > .item > img {
    margin: 0 auto;
    position: center;
    height: 630px;

}

.item {
	text-align: center;
}

.encadre {
	border-radius: 15px;
	background-color: #a47c48;
	background-position: center;
	text-align: center;
	width: 25em;
	max-width: 100%;
	padding: 1em auto;
	padding-top: 2em

}

.encadre > h2 {
	color: #ead61c;
}

p {
	color: #845422;
	text-shadow: 1px 1px 3px white;
}

.btn-secondary { 
  color: #000000; 
  background-color: rgba(0, 0, 0, 0); 
  border-color: #A47C48; 
} 
 
.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary.active, 
.open .dropdown-toggle.btn-secondary { 
  color: #000000; 
  background-color: #EAD61C; 
  border-color: #A47C48; 
} 
 
.btn-secondary:active, 
.btn-secondary.active, 
.open .dropdown-toggle.btn-secondary { 
  background-image: rgba(0, 0, 0, 0); 
} 
 
.btn-secondary.disabled, 
.btn-secondary[disabled], 
fieldset[disabled] .btn-secondary, 
.btn-secondary.disabled:hover, 
.btn-secondary[disabled]:hover, 
fieldset[disabled] .btn-secondary:hover, 
.btn-secondary.disabled:focus, 
.btn-secondary[disabled]:focus, 
fieldset[disabled] .btn-secondary:focus, 
.btn-secondary.disabled:active, 
.btn-secondary[disabled]:active, 
fieldset[disabled] .btn-secondary:active, 
.btn-secondary.disabled.active, 
.btn-secondary[disabled].active, 
fieldset[disabled] .btn-secondary.active { 
  background-color: none; 
  border-color: #A47C48; 
} 
 
.btn-secondary .badge { 
  color: rgba(0, 0, 0, 0); 
  background-color: #000000; 
}

.btn-primary { 
  color: #FFFFFF; 
  background-color: #845422; 
  border-color: #ead61c; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: #A47C48; 
  border-color: #ead61c; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #845422; 
  border-color: #ead61c; 
} 
 
.btn-primary .badge { 
  color: #845422; 
  background-color: #FFFFFF; 
}

.blocb {
	background-color: #d7c797;
	margin: 0;
}